/build/
/out/
/cmake-build-*/
/bin/
/lib/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
*.ninja

/vcpkg_installed/

/.idea/
/.vscode/
/.vs/
*.swp
*.swo

.DS_Store
Thumbs.db

/roms/
*.gb
*.gbc
*.sgb
*.sav
*.rtc